* { margin: 0; }
html,body{ height: 100%; }
body{
    background-color: white;
    text-align: center;
    font-family: myFont;
}

/*navigation bar*/
/*don't need to touch unless adding more menus*/
nav{ 
    width: 100%; 
    overflow: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 0.5px solid lightgray;]
}
nav a{ text-decoration: none; font-size: 1.3em;}

#logo{ float: left; color: black; padding-left: 10%; font-weight: bold;}
#projects{ float: right; padding-right: 50px; color: black; }
#projects:hover{ color: mediumvioletred; }
#about{ float: right; color: gray; padding-right: 10%; }
#about:hover{ color: mediumvioletred; }

p, a{
    font-size: 1.3em;
}
p a{
    font-size: 1em;
}

/*main projects*/
#main{
    width: 70%;
    display: inline-block;    
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: justify;
}

.profile-image { visibility: hidden; }
.profile-image-wrap { 
    width: 20vw;
    height: 20vw;
    margin-bottom: 3%;
    display: inline-block;
    overflow: hidden; 
}
.profile-image-wrap img.square { visibility: visible; width: 100%; }
.profile-image-wrap img.portrait { visibility: visible; width: 100%; height: auto; }
.profile-image-wrap img.landscape { visibility: visible; height: 100%; width: auto; }

#main img:hover{
    opacity: 0.8;
}

h1{
    width: 80%;
    font-size: 1.5em;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: left;
}

#other{
    margin: auto;
    text-align: center;
}
#other a{
    float: left;
    padding-left: 10%;
    padding-bottom: 3%;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
#other a:hover{
    color: mediumvioletred
}
#other a p{
    float: left;
    margin-top: 1;
    font-size: 20px;
    color: gray;
}

#pages{
    width: 80%;
    display: inline-block;
    padding-top: 3%;
}
#left{
    width: 50%;
    float: left;
    text-align: left;
}
#right{
    width: 50%;
    float: right;
}
video{
    width: 90%;
    float: right;
    padding-bottom: 3%;
}
.images{
    width: 40%;
    float:right;
    padding-bottom: 3%;
    padding-left: 5%;
}

/*footer - social network links*/
footer{
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 0.5px solid lightgray;
    margin: auto;
    margin-top: 15%;
}

footer a{
    float: right;
    padding-right: 1%;
}

@font-face {
    font-family: myFont;
    src: url(CrimsonText-Regular.ttf);
}