* { margin: 0; }
body{
    margin: 0 auto;
    width : 70%;
    background-color: #EFEFEF;
    text-align: center;
    font-family: myFont;
}

#title{ 
    width: 100%; 
    overflow: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 3px solid orange;]
}
#title h2{
    padding-top: 0;
}
#title a{
    float: right;
    padding-right: 2%;
}

#title h1, h2, h3{
    text-decoration: none; float: left; color: black; padding-left: 5%; padding-right: 5%; clear: both;
}
h2{
    padding-top: 2%;
}

h4{
    padding-bottom: 1%;
}

/*navigation bar*/
/*don't need to touch unless adding more menus*/
nav{ 
    width: 95%; 
    overflow: auto;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
}
nav a{
    text-decoration: none;
    color: black;
    padding-left: 5%;
    font-size: 1.2em;
    letter-spacing: 5%;
}
nav a:hover{
    color: orange;
}

p{
    text-decoration: none; 
    width: 90%;
    float: left; 
    color: black; 
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: justify;
    font-size: 1.2em;
}


#intro{
    padding-top: 1%;
    padding-bottom: 1%;
}


#insideBody{
    background-color: white;
    
}
#insideBody h1{
    width: 90%;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 3px solid orange;]
    
}

/*main projects*/
#main{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
}

.profile-image { visibility: hidden; }
.profile-image-wrap { 
    width: 60%;
    display: inline-block;
}
.profile-image:hover{
    opacity: 0.8;
}
.profile-image-wrap img.square { visibility: visible; width: 100%; }
.profile-image-wrap img.portrait { visibility: visible; width: 100%; height: auto; }
.profile-image-wrap img.landscape { visibility: visible; width: auto; }

.explanation-image { 
    width: 70%;
    display: inline-block;
}





#other{
    margin: auto;
    text-align: center;
    padding-bottom: 3%;
}
#other a{
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
#other a:hover{
    color: mediumvioletred
}
#other a p{
    float: left;
    margin-top: 1;
    font-size: 20px;
    color: gray;
}

#pages{
    width: 80%;
    display: inline-block;
    padding-top: 3%;
}
#left{
    width: 50%;
    float: left;
    text-align: left;
}
#right{
    width: 50%;
    float: right;
}
video{
    width: 90%;
    float: right;
    padding-bottom: 3%;
}
.images{
    width: 40%;
    float:right;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

/*footer - social network links*/
footer{
    background-color: #EFEFEF;
    overflow: auto;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

footer a{
    float: right;
    padding-right: 1%;
}

@font-face {
    font-family: myFont;
    src: url(RobotoCondensed-Regular.ttf);
}


