body{
    background-color: white;
    color: #575757;
    text-align: center;
    font-family: Champagne;
}

/*navigation bar*/
/*don't need to touch unless adding more menus*/
nav{ 
    width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 4%;
    font-size: 1.3em;
}
nav a{ display: inline-block; vertical-align: middle; text-decoration: none; }
#logo{ float: left; }
#projects{ float: right; margin-right: 50px; color: black; }
#projects:hover{ color: mediumvioletred; }
#about{ float: right; color: gray; }
#about:hover{ color: mediumvioletred; }

/*main projects*/
#main{
    width: 78%;
    height: 100%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;    
    text-align: justify;
    text-align-last: justify;
}
.profile-image { visibility: hidden; }
.profile-image-wrap { 
    width: 24vw;
    height: 20vw;
    margin-top: 3%;
    display: inline-block;
    overflow: hidden; 
}
.profile-image-wrap img.square { visibility: visible; width: 100%; }
.profile-image-wrap img.portrait { visibility: visible; width: 100%; height: auto; }
.profile-image-wrap img.landscape { visibility: visible; height: 100%; width: auto; }


#main img:hover{
    opacity: 0.8;
}

/*footer - social network links*/

@font-face {
    font-family: "Champagne";
    src: url("ChampagneBold.ttf");
}