body{
	width: 60%;
	font-family: Corbel;
	margin: auto;
	margin-top: 3%;
	background: rgb(136,176,75);
	color: black;
}

h1{
	color: black;
	border: 3px solid black;
	padding: 20px;
	margin-top: 5%;
	text-align: center;	
	font-size: 3em;
}

nav{ margin-top: 50px;
	margin-bottom: 50px;
	
}
ul{	display: table;
	width: 100%;
	list-style: none;
	padding-left: 0;
	z-index: 30;}
ul li{ display: table-cell;
	text-align: center;}
li a{ text-decoration: none;
	color: black;
	font-size: 1.5em;
	font-weight: bold;}
nav li ul{ display: none;
	text-align: center;
	width: 60%;
	margin-left: -29.1%;}
ul li:hover{ border: 1px solid black;}
ul li a:hover{ color: yellow;}
nav li:hover ul{
	display: block;
	position: absolute;
	background-color: skyblue;
	border: 1px solid black;
}
nav li:hover ul li{
	display: block;
	padding: 30px 0px 30px 0px;
}

.intro{
	text-align: left;
	padding: 10px;
}

.intro p{
	font-size: 20px;
	width: 90%;
	margin-left: 5%;
}

#main{
	width: 80%;
	text-align: center;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	margin: auto;
}
#main img{
	display:block;
	clear: both;
	margin-top: 40px;
	margin-bottom: 0px;
	width: 50%;
}


footer{
	clear: both;
	padding-top: 7%;
	text-align: center;
	padding-bottom: 7%;
}
footer a{
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	border: 1px solid black;
	padding: 5px;
	font-weight: bold;
}
footer p{
	font-size: 40px;
	width: 90%;
}

.left{
	width: 50%;
	text-align: center;
	float: left;
}
.left img{
	margin-top: 40px;
	margin-bottom: 40px;
	width: 60%;
}

.right{
	width: 50%;
	text-align: center;
	float: right;
	vertical-align: middle;

}
.right p{
	font-size: 40px;
	width: 90%;
	height: 400px;
}

@media screen and (max-width: 480px){
	body{	padding-top: 5px; width: 80%;	}
	
	h1{
		color: black;
		border: 1px solid black;
		padding: 10px;
		margin-top: 5%;
		text-align: center;	
		font-size: 2em;
	}
	
	nav li ul{ display: none;
		text-align: center;
		width: 80%;
		margin-left: -24.5%;
	}
	nav li:hover ul li{
		display: block;
		padding: 10px 0px 10px 0px;
	}
	
	.right p{font-size: 20px; height: 150px;}
	
	footer p{
		font-size: 20px;
	}
	
	.intro{
		width: 100%;
	}
	.intro p{
		text-align: justify;
	}
}



















